<h1>Listing names</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @names.each do |name| %>
  <tr>
    <td><%= name.name %></td>
    <td><%= name.score %></td>
    <td><%= name.count %></td>
    <td><%= link_to 'Show', name %></td>
    <td><%= link_to 'Edit', edit_name_path(name) %></td>
    <td><%= link_to 'Destroy', name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Name', new_name_path %>
