<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @name.name %>
</p>

<p>
  <b>Score:</b>
  <%= @name.score %>
</p>

<p>
  <b>Count:</b>
  <%= @name.count %>
</p>


<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
