<%= form_tag("/vote", method: "post") do %>
    <button name="winner" value="<%= @names[0].id %>"><%= @names[0].name %></button>
    <button name="winner" value="<%= @names[1].id %>"><%= @names[1].name %></button>
<% end %>
